.formContainer {
    max-width: 400px;
    margin: 0 ;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    background-color: #f9f9f9;
    font-weight: bold;
   
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .formContainer input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .formContainer button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .formContainer button:hover {
    background-color: #0056b3;
  }

  
 
  
  
  
  
  .fa-envelope {
    cursor: pointer;
    font-size: 30px;
    margin: 10px;
    color: red;
    position: absolute;
    top: 7vh;
    right: 5vw;
   
  }
  
  .fa-window-close {
    cursor: pointer;
    font-size: 20px;
    margin-left: 10px;
    color: red;
  }
  

  
  .page-link {
    cursor: pointer;
    color: #007bff;
  }
  
  .page-link.active {
    font-weight: bold;
  }
  
  .page-link:hover {
    text-decoration: underline;
  }
  
  /* Add any additional custom styles you want here */
  